.chat-message(id:){"data-id": message.id}
  .chat_contents__top
    .chat_contents__top--username
      = message.user.name
    .chat_contents__top--datetimes
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat_contents__message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'chat_contents__message--image' if message.image.present?