.side_bar
  .header
    .header__name
      Takei
    .header__logo
      =link_to "#", class: 'header__logo--icon' do
        %i.fa.fa-edit
      =link_to "#", class: 'header__logo--icon' do
        %i.fa.fa-cog
  .contents
    .contents__top
      .contents__top--title
        test
      .contents__top--message
        まだメッセージはありません
    .contents__main
      .contents__main--title
        test2
      .contents__main--message
        まだメッセージはありません