.wrapper{
  display: flex;
}

.header{
  background-color:#253141;
  font-weight: bold;
  height:100px;
  width:260px;
  padding:0px 20px;
  align-items: center;
  color:white;
  display: flex;
  justify-content: space-between;
  &__name{
    color:white;
    font-size:16px;
    font-weight:bold;
  }
  &__logo{
  }
}

.list{
  display: inline;
  &__icon{
    color: white;
    text-decoration: none;
  }
}

.groups{
  background-color:#2f3e51;
  width:260px;
  height:calc(100vh - 100px);
  color:white;
  padding:0 20px;
}
.group{ 
  padding-top:20px;
  padding-bottom:40px;
  color:white;
  &__btn{
    text-decoration: none;
  }
  &__name{
    font-size: 15px;
    color:white;
    font-weight: bold;
    padding-bottom:5px;
  }
  &__message{
    font-size:11px;
    font-weight: bold;
    color: white;
  }
}

.main_chat{
  width:100%;
  position: relative;
}

.chat_header{
  height:100px;
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #eee;
  &__top{
    padding-left:40px;
    &--title{
      font-size:20px;
      color:#333;
      padding-top:35px;
    }
    &--member{
      font-size: 12px;
      color: #999;
      padding-top:15px;
    }
  }
  &__btn{
    margin-top:30px;
    margin-right:40px;
    margin-bottom:30px;
    padding:0px 20px;
    line-height:40px;
    border:1px solid #38aef0;
    &--icon{
      color: #38aef0;
      text-decoration: none;
    }
  }
}

.chat_contents{
  height:calc(100vh - 100px);
  background-color:#fafafa;
  &__top{
    display: flex;
    justify-content: left;
    padding-left:40px;
    padding-top:46px;
    &--username{
      font-size:16px;
      color:#434A54;
      font-weight:bold;
      padding-right:10px;
    }
    &--datetimes{
      font-size:12px;
      color:#999;
    }
  }
  &__message{
    font-size:14px;
    color:#434A54;
    padding-top:10px;
    padding-left:40px;
  }
}

.form{
  height:80px;
  width:100%;
  background-color: #ddd;
  position: absolute;
  bottom:0px;
  &__btn{
    height:50px;
    line-height:50px;
    display: flex;
    justify-content: space-between;
    padding:20px 40px;
  &--message{
    width:1000px;
    font-size:16px;
    color:#434A54;
    padding:0 40px 0 10px;
    position: relative;
  }
  &--icon{
    position: absolute;
    right:170px;
    font-size: 20px;
  }
  &--image{
    &--heid{
      display: none;
    }
  }
  &--submit{
      height:50px;
      background-color: #38AEF0;
      color: white;
      align-items:center;
      margin:0 0 0 15px;
      padding:0 30px;
    }
  }
}